@import "./../../Main.scss";
.column {
  display: flex;
  flex-direction: column;
  // border:1px solid green;
  min-width: 30%;
  height: 100%;
  @media screen and (max-width:900px){
    min-width: 45%;
  }
  @media screen and (max-width:600px){
    min-width: 80%;
  }
  .columnName {
    color: $muted_blue;
    font-size: 1.1rem;
    display: flex;
    gap: 10px;
    font-weight: 400;
    span {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $vibrant_indigo;
      align-self: center;
    }
  }

  .cards {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}
